section#contact {
  margin: 0 auto;
  padding-bottom: 80px;
  width: 100%;
  position: relative;
  background: url(../images/bg-contact.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65% 50%;
  min-height: 840px;
  height: 100%;


  .con-box-wrapper {
    @include max-screen(991px) { padding: 15px; }
    @include max-screen(754px) { margin: auto; }
    margin: 100px auto 50px auto; padding: 0px;

    .contact-wrapper {
      @include max-screen(991px) {
        padding: 0px;
        border: none !important;
      }
      @include max-screen(754px) {
        padding: 0px !important;
      }
      display: inline-block;

      .txt-con-service {
        margin: 10px auto;
        display: block;

        .ico-topic-size {
          width: 60px;
          display: inline-block;
        }

        .txt-hm-topic {
          @include max-screen(404px) { padding: 10px; }
          @include max-screen(400px) { font: bold 2em $main-font; }
          padding: 0 5%;
          font: bold 2.5em $main-font; color: $main-blue;
          line-height: 1;
          display: inline-block;
          vertical-align: middle;
        }
        h2 {
           margin-top: 0;
        }
      }

      .ico-txt-detail {
        @include max-screen(400px) { font-size: 0.9em; }
        padding: 20px 0;
        font-size: 1.1em; color: $main-grey;
        line-height: 1.5;
      }
    }
  }

  .con-box-info {

    .control-input {

      .main-input{
        margin: 10px auto;
        padding: 10px 15px;
        border: 1px solid #CCCCCC;
        background: #FFFFFF;
        font: normal 1.5em $main-font;
        width: 100%;
      }

      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #9e9c9c;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #9e9c9c;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #9e9c9c;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #9e9c9c;
      }

      .main-input-sm {
        @include max-screen(1199px) {
          margin: 10px auto !important;
          width: 100% !important;
        }
        @extend .main-input;
        margin: 5px auto; width: 48.90%;
      }
    }
  }
}
