section#footer {
  margin: 0 auto 10px auto; padding: 0px;
  width: 100%;
  text-align: center;
  position: relative;

  .bg-footer {
    width: 100%;
    background: #7098ba;
    color: #FFFFFF;

    img {
      @include max-screen (603px) { width: 30%; }
      display: inline-block;
      max-width: 130px
    }

    .txt-cen-footer {
      @include max-screen (603px) { display: none; }
      display: inline-block;
      vertical-align: middle;
    }

    .txt-num {
      // @include max-screen (603px) { font-size: 1.5em; }
      padding: 0 5px;
      font-size: 1.5em;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .line {
    margin: 10px 0;
    border: 1px solid #CCCCCC;
  }

  .txt-footer-nm {
    @include max-screen (603px) { font-size: 0.9em; }
    margin: 5px;
    font-size: 1em;
    color: $main-black;
  }
}
