@import url(font-face.css);
/* @import url(https://fonts.googleapis.com/css?family=Sigmar+One); */
@charset "UTF-8";
html {
    font-size: 62.5%; /* เพื่อให้ 1rem มีค่าประมาณ 10px */
}
body {
  font-size: 1.4em; /* มีค่าประมาณ 14px */
  font: normal 100%/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #ffffff;
  height: 100%;
  overflow: hidden;
}
ul {
  list-style-type: none;
}
* {
  -webkit-overflow-scrolling: touch;
}
body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}
.columns:not(:last-child) {
  margin-bottom: calc(0.5rem - 0.75rem)!important;
}
.field {
  margin-bottom: 0.20rem !important;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.test-bg {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  min-height: auto;
  left: 0;
  top: 0;
  background-color: transparent;
  background-image: url('../images/test-bg.jpg');
  background-repeat: repeat;
  background-size: contain;
  overflow-y: scroll;
  overflow-x: hidden;
}
.test-bg02 {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  min-height: auto;
  left: 0;
  top: 0;
  background-color: #fff;
  /* background-image: url('../images/test-bg.jpg'); */
  background-repeat: repeat;
  background-size: contain;
  overflow-y: scroll;
  overflow-x: hidden;
}
.header-bg {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: 168px;
  min-height: auto;
  left: 0;
  top: 0;
  background-color: transparent;
  background-image: url('../images/header-test.png');
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  line-height: 1;
}
.header-bg-pre {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: 168px;
  min-height: auto;
  left: 0;
  top: 0;
  background-color: transparent;
  background-image: url('../images/header-pretest.png');
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  line-height: 1;
}
.header-bg-register {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-height: auto;
  left: 0;
  top: 0;
  background-color: transparent;
  background-image: url('../images/header-register.png');
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  line-height: 1;
}
.bg-registered {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  min-height: auto;
  left: 0;
  top: 0;
  background-color: transparent;
  background-image: url('../images/reisgtered-bg02.png');
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  line-height: 1;
}
.bg-registered-footer {
  position: absolute;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: 125px;
  min-height: auto;
  left: 0;
  bottom: 0;
  background-color: transparent;
  background-image: url(../images/reisgtered-bg-footer.png);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  line-height: 1;
}
.shape-bg {
  position: relative;
  margin: 0 auto;
  max-width: 110%;
  width: 110%;
  height: 100%;
  min-height: auto;
  left: 0;
  top: 0;
  background-color: transparent;
  background-repeat: round;
  background-size: cover;
  overflow: hidden;
  /* border-radius: 15px 0; */
}
.bg-left {
  background-image: url('../images/shape-test.png');
}
.bg-right {
  background-image: url('../images/shape-test2.png');
}
.bg-pre-left {
  background-image: url('../images/shape-pretest.png');
  max-width: 120%;
  width: 120%;
}
.bg-pre-right {
  background-image: url('../images/shape-pretest2.png');
  max-width: 120%;
  width: 120%;
}
.bg-center {
  max-width: 100%;
  width: 100%;
  background-position: right;
  background-color: #114d6d;
  background-image: none;
  border-right: 4px solid #fad506;
}
.shape-bg td {
  vertical-align: middle;
}
.shape-bg h2 {
  color: #fff;
  margin-left: 15%;
  font-family: 'db_helvethaica_x';
  font-size: 3em;
  color: #fad506;
}
.shape-bg-pre h2 {
  color: #114d6d;
}
.card-container {
  position: relative;
  display: block;
  /* margin-bottom: 10px; */
}
.header-bg-pre p,
.header-bg p {
  font-family: 'pridi-medium';
  font-size: 2em;
  margin: 10% 5% 0;
}
.header-bg-pre h2,
.header-bg h2 {
  font-family: 'pridi-regular';
  font-size: 1.5em;
  color: #00a1e3;
  margin: 10px 5% 0;
}
.header-bg-pre h3,
.header-bg h3 {
  font-family: 'pridi-regular';
  font-size: 1.5em;
  /* margin: 0px 5% 0; */
  color: #7a7a7a;
}
.content-box {
    /* border-radius: 15px 15px 0 0; */
    background-color: #00a1e3;
    width: 95%;
    margin: 20px auto;
    height: auto;
}
.content-box.square {
  border-radius: 0 0;
}
.register-box {
    border-radius: 15px 15px 0 0;
    background-color: #fff;
    width: 85%;
    margin: 20px auto;
    height: auto;
}
.register-box .title {
  border-radius: 15px 15px 0 0;
  background-color: #00a1e3;
  padding: 5px 10px;
  color: #fff;
  font-family: 'db_helvethaica_x';
  text-align: center;
}
.register-from {
  padding: 5px 30px;
}
.shape {
  padding: 0 0.75rem !important;
}
.test-box {
  font-family: 'DB Helvethaica X 67 MedCond';
  line-height: 1.5;
  color: #fff;
  padding-right: 5%;
}
.test-box h2 {
  font-size: 2.5em;
  margin-bottom: 5px;
  line-height: 1;
}
.test-box h3 {
  font-size: 1.2em;
  line-height: 1;
  font-style: italic;
  margin-bottom: 10px;
}
.test-box label {
  font-size: 1.4em;
  line-height: 15px;
}
/* Radio Button Style  */
ul{
	list-style-type: none;
	width: 100%;
	margin: auto;
}

li {
	position: relative;
	/* padding: 10px !important; */
	padding-left: 40px !important;
	height: 45px;
  padding-top: 8px !important;
}

label:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #fff;
    position: absolute;
    left: 7px;
		top: calc(50% - 13px);
    box-sizing: border-box;
    border-radius: 50%;
}

input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
	margin: 0;
	padding: 0;
  width: 100%;
	height: 30px;
	position: absolute;
	left: 0;
	top: calc(50% - 15px);
	cursor: pointer;
}
.bullet {
    position: relative;
    width: 25px;
    height: 25px;
    left: 2px;
    top: 0px;
    border: 2px solid #fff;
    opacity: 0;
    border-radius: 50%;
}
input[type=radio]:checked ~ label{
  color: #fad506;
}
input[type="radio"]:checked ~ .bullet {
	position:absolute;
	opacity: 1;
	animation-name: explode;
	animation-duration: 0.350s;
  background-color: #fad506;
}

.line {
	position: absolute;
	width: 10px;
	height: 2px;
	background-color: #fff;
	opacity:0;
}

.line.zero {
	left: 11px;
	top: -21px;
	transform: translateY(20px);
	width: 2px;
	height: 10px;
}

.line.one {
	right: -7px;
	top: -11px;
	transform: rotate(-55deg) translate(-9px);
}

.line.two {
	right: -20px;
	top: 11px;
	transform: translate(-9px);
}

.line.three {
	right: -8px;
	top: 35px;
	transform: rotate(55deg) translate(-9px);
}

.line.four {
	left: -8px;
	top: -11px;
	transform: rotate(55deg) translate(9px);
}

.line.five {
	left: -20px;
	top: 11px;
	transform: translate(9px);
}

.line.six {
	left: -8px;
	top: 35px;
	transform: rotate(-55deg) translate(9px);
}

.line.seven {
	left: 11px;
	bottom: -21px;
	transform: translateY(-20px);
	width: 2px;
	height: 10px;
}

input[type="radio"]:checked ~ .bullet .line.zero{
	animation-name:drop-zero;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.one{
	animation-name:drop-one;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.two{
	animation-name:drop-two;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.three{
	animation-name:drop-three;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.four{
	animation-name:drop-four;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.five{
	animation-name:drop-five;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.six{
	animation-name:drop-six;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.seven{
	animation-name:drop-seven;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

@keyframes explode {
	0%{
		opacity: 0;
		transform: scale(10);
	}
	60%{
		opacity: 1;
		transform: scale(0.5);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes drop-zero {
	0% {
		opacity: 0;
		transform: translateY(20px);
		height: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: translateY(-2px);
		height: 0px;
		opacity:0;
	}
}

@keyframes drop-one {
	0% {
		opacity: 0;
		transform: rotate(-55deg) translate(-20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: rotate(-55deg) translate(9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-two {
	0% {
		opacity: 0;
		transform: translate(-20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: translate(9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-three {
	0% {
		opacity: 0;
		transform: rotate(55deg) translate(-20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: rotate(55deg) translate(9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-four {
	0% {
		opacity: 0;
		transform: rotate(55deg) translate(20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: rotate(55deg) translate(-9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-five {
	0% {
		opacity: 0;
		transform: translate(20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: translate(-9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-six {
	0% {
		opacity: 0;
		transform: rotate(-55deg) translate(20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: rotate(-55deg) translate(-9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-seven {
0% {
		opacity: 0;
		transform: translateY(-20px);
		height: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: translateY(2px);
		height: 0px;
		opacity:0;
	}
}

.correct {
  background-color: #8dc63f;
}
.incorrect {
  background-color: #bb020b;
}
.card-header-title {
  color: #fff !important;
  font-family: 'DB Helvethaica X 67 MedCond';
  font-size: 1.5em;
  font-weight: 400 !important;
  padding: 0 0.75rem !important;
}
.card-header-title::before {
  font-family: 'FontAwesome';
  content: "\f00c";
  margin-right: 5px;
  font-size: 18px;
}
.incorrect > .card-header-title::before {
  font-family: 'FontAwesome';
  content: "\f00d";
  margin-right: 5px;
  font-size: 18px;
}
.card-content {
  border: 3px solid #8dc63f;
  padding: 0.8rem 1.2rem !important;
}
.card-content.incorrect-cont {
  border: 3px solid #bb020b;
}
.content {
  font-family: 'DB Helvethaica X 67 MedCond';
  line-height: 1;
  font-size: 1.5em;
}
.content span {
  color: #00a1e3;
}
.result {
  font-family: 'DB Helvethaica X 67 MedCond';
  line-height: 1;
  font-size: 3.5em;
  text-align: center;
}
.result strong {
  font-size: 120%;
  color: #fad506;
}
.result p {
  color: #00a1e3;
}
.result h3 {
  color: #00a1e3;
  font-size: 75%;
}
.buttons {
  padding: 10% 0;
}
.buttons .button {
  font-family: 'DB Helvethaica X 67 MedCond';
  text-align: center;
  margin: 10px auto;
  min-width: 75%;
  color: #114d6d !important;
  background-color: #fad506;
}
.btn-regisrter {
  background-image: url('../images/reisgter-btn.png');
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-height: auto;
  left: 0;
  top: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  overflow: hidden;
}
.btn-submit {
  background-image: url('../images/submit-btn.png');
  position: relative;
  margin: 0 auto;
  max-width: 75%;
  width: 75%;
  height: 100%;
  min-height: auto;
  left: 0;
  top: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  overflow: hidden;
}
.letsgo-submit {
  background-image: url('../images/letsgo-btn.png');
  position: relative;
  margin: 0 auto;
  max-width: 75%;
  width: 75%;
  height: 100%;
  min-height: auto;
  left: 0;
  top: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  overflow: hidden;
}
.input, .select {
    background-color: white;
    color: #363636;
    max-width: 100%;
    width: 100%;
    border-radius: 0px;
    box-shadow: none !important;
    border: 1px solid #9E9E9E !important;
}
select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
.result-box {
  margin-top: 80%;
}
.footer {
  padding: 2rem 1.5rem 2rem !important;
  background-color: #fad506 !important;
}
.footer strong {
  color: #114d6d !important;
  font-size: 2.5em;
  line-height: 1.5;
}
.icon-s {
  width: 15%;
  margin: 0 10px;
}

/* animate greate job  */
#scroll,
#congrats {
  position: absolute;
  top: calc(7% - 50px);
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: #607d8b7d;
  z-index: 99;
}

/* #scroll {
  position: absolute;
  top: calc(7% - 50px);
  width: 100%;
  height: 100%;
  line-height: 1;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: #607d8b7d;
  z-index: 99;
} */
#title {
  transform-origin: 50% 50%;
  font-size: 36px;
  font-family: 'db_helvethaica_x';
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: calc(50% - 50px);
  text-align: center;
  width: 100%;
  user-select: none;
  color: #fad506;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
 -moz-animation: neon2 1.5s ease-in-out infinite alternate;
 animation: neon2 1.5s ease-in-out infinite alternate;
  -webkit-user-select: none;
}
.particle {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 1;
  font-size: 30px;
}
.star {
  color: #ffcc00;
  background: none;
}
.starblue {
  /* box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5); */
  /* border: #0dd solid 2px; */
  color: #0dd;
  background: none;
}
.blob {
  background-color: #FFEB3B;
  /* color:#FFEB3B; */
  /* background: rgba(255, 204, 0, 0.76); */
  border-radius: 50%;
  display: block;
}
/* preload */
.preload {
  background: #9e9e9e4d;
    display: inline-block;
    position: absolute;
    z-index: 999999;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrapper {
  display: block;
  flex-wrap: wrap;
  height:100%;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 100%;
  min-width: 100%;
  position: absolute;
  z-index: 99;
  left: 30%;
  top: calc(50% - 50px);
}
.canvas {
    align-items: center;
    /* background: #eeeeee; */
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    display: flex;
    height: 10em;
    justify-content: center;
    /* margin: 1em 1em 2em 1em; */
    width: 10em;
}
/* Spinner 2 starts here */
.canvas2 {
  position: relative;
}

.spinner2 {
  animation: spinnerTwo 1s linear infinite;
  background: #FFEB3B;
  border-radius: 100px;
  height: 3em;
  transform-origin: top;
  position: absolute;
  top: 50%;
  width: .22em;
}

.hourHand {
  animation: spinnerTwo 7s linear infinite;
  background: #FFEB3B;
  border-radius: 100px;
  height: 2em;
  transform-origin: top;
  position: absolute;
  top: 50%;
  width: .2em;
}

.dot {
  background: #4DB6AC;
  border-radius: 100%;
  height: .5em;
  width: .5em;
}

@keyframes spinnerTwo {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
/* Spinner 2 ends here */
